body {
  background: #a4b9db;
}

.navbar {
  margin-bottom: 1em;
}

.navbar a {
  font-weight: bold;
}

.navbar li:hover,
.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand img {
  width: 5%;
  border-radius: 40%;
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  border-bottom: lightgreen 5px solid;
}
